html {
  font-size: $base-font-size;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: rgba(0,0,0,0.7);
  line-height: 1.5;
  font-size: 1rem;
}

small,
.small {
  font-size: 0.707rem;
}

// Lists
ul li,
ol li{
  color: rgba(0,0,0,0.7);
  font-size: 1rem;
}

// Sub-Headings

h2, h3, h4, h5, h6{
}

h3{
	font-weight: 300;
	color: rgba(0,0,0,0.44);
	font-family: $sub-heading-font-family;
}